{% extends 'base.html.twig' %}

{% block title %}FOKKUS SCRAPING{% endblock %}

{% block body %}

    {{ form_start(form, {'class': 'contact100-form validate-form'}) }}
				<span class="contact100-form-title">
					FOKKUS SCRAPING
				</span>


    {%   if message is defined %}
<div style ="text-align: center;">
    <span  class=" badge badge-info">
					{{ message }}
				</span>
</div>
    {%  endif %}

    <label class="label-input100" for="type">{{ form_label(form.type) }} *</label>
        <div class="wrap-input100 validate-input">
            {{ form_widget(form.type) }}

            <span class="focus-input100"></span>
        </div>

        <label class="label-input100" for="postal">{{ form_label(form.postal) }}  *</label>

        <div class="wrap-input100  validate-input">
                {{ form_widget(form.postal) }}
            <span class="focus-input100"></span>

        </div>

        <div class="container-contact100-form-btn">
            {{ form_row(form.save) }}
        </div>
        {{ form_end(form) }}

    </form>











{% endblock %}
